<div ng-controller="ListCtrl" ng-show="showMe">
    <form ng-submit="updateList()">
        <div class="input-group">
            <input type="text" ng-model="list.name" class="form-control">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-info">{{'CHANGE_LIST_NAME' | translate}}</button>
            </span>
        </div>
    </form>

    <br>

    <form ng-submit="addUserToList()">
        <div class="input-group">
            <input type="text" ng-model="userSelected" class="form-control" placeholder="{{'ADD_SOMEBODY_TO_LIST' | translate}}..." typeahead="user as (user.name + ' (' + user.email + ')') for user in searchUsers($viewValue)" class="form-control">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-info">{{'ADD' | translate}}</button>
            </span>
        </div>
    </form>

    <br>

    <button class="btn btn-warning" hm-tap="unsubscribe()">{{'UNSUBSCRIBE' | translate}}</button>
    <button class="btn btn-default" hm-tap="cancel()">{{'CANCEL' | translate}}</button>
</div>