<div class="top">
    <div class="greeting">
        {{'HELLO' | translate}} {{nameOfUser}}!
    </div>
    <nav class="pull-right">
        <button hm-tap="addList()" class="btn btn-default"><i class="fa fa-plus"></i> {{'ADD_LIST' | translate}}</button>
        <button hm-tap="logout()" class="btn btn-default"><i class="fa fa-sign-out"></i> {{'LOGOUT' | translate}}</button>
    </div>
    <div class="clearfix"></div>
    <form class="search-form" role="search">
        <div class="form-group">
            <input id="productSearchQuery" ng-model="productSearchQuery" class="form-control" placeholder="{{'SEARCH' | translate}}">
        </div>
    </form>
</div>

<div id="outer">
    <!--Filtered products-->
    <div class="product-list" ng-show="!!productSearchQuery">
        <button class="product" ng-repeat="product in allProducts | productsFilter:productSearchQuery | limitTo:15" hm-tap="addProductToList(product)" ng-hide="isProductInList(product)">
            {{product.name}}
            <br>
            &nbsp;<small>{{product.comment}}</small>&nbsp;
        </button>
        <button id="add-custom-product" class="product" hm-tap="addCustomProductToList(productSearchQuery)">{{capitalizeString(productSearchQuery)}}</button>
    </div>
    
    <!--Carousel of lists-->
    <div class="my-list">
        <!--List Detail-->
        <div ng-include src="'list/list.tpl.html'"></div>
        
        <div ng-show="showMe">
            <ul class="list-carousel" rn-carousel rn-carousel-indicator rn-carousel-index="currentListIndex">
                <li ng-repeat="list in lists">
                    <!--Name of current list-->
                    <h3 hm-tap="editList($index)" style="display:inline">{{list.name || 'UNTITLED' | translate}}</h3>
                    <ul class="users-of-list">
                        <li ng-repeat="user in list.users">{{user.name.split(' ')[0]}}</li>
                    </ul>

                    <!--Shopping list-->
                    <div class="product-list selected" ng-hide="list.products.length === 0">
                        <button class="product" ng-repeat="product in list.products" hm-tap="changeActiveStateOfProductFromList(product, 0)" ng-disabled="product.disabled" hm-hold="editComment(product, list)" ng-right-click="editComment(product, list)" ng-show="product.active">
                            {{product.name}}
                            <br>
                            &nbsp;<small>{{product.comment}}</small>&nbsp;
                        </button>
                    </div>
                    <div ng-show="list.products.length === 0" class="help-block">{{'LIST_EMPTY' | translate}}.</div>
                    
                    <!--Last used products-->
                    <div class="product-list removed" ng-hide="list.products.length === 0">
                        <button class="product" ng-repeat="product in list.products | orderBy:'-modified_at' | limitTo:10" hm-tap="changeActiveStateOfProductFromList(product, 1)" ng-disabled="product.disabled" hm-hold="editComment(product, list)" ng-right-click="editComment(product, list)" ng-show="! product.active">
                            {{product.name}}
                            <br>
                            &nbsp;<small>{{product.comment}}</small>&nbsp;
                        </button>
                    </div>
                </li>
            </ul>
            <div class="text-center shift-list-block">
                <button class="btn btn-default" hm-tap="moveListOnePosition(-1)"><i class="fa fa-angle-double-left"></i> {{'SHIFT_LEFT' | translate}}</button>
                <button class="btn btn-default" hm-tap="moveListOnePosition(1)">{{'SHIFT_RIGHT' | translate}} <i class="fa fa-angle-double-right"></i></button>
            </div>
        </div>
    </div>
    <div class="footer text-center"></div>
</div>
