<!--List selection-->
<select ng-model="currentList" ng-options="list.name for list in lists" ng-click="selectList()"></select>
<h3>{{currentList.name}}</h3>

<!--Shopping list-->
<div class="product-list basket" ng-show="listProducts.length > 0">
  <button class="product" ng-repeat="product in listProducts | orderBy:'category_id' | orderBy:'name'" ng-click="removeProductFromList(product)">
    {{product.name}}
  </button>
</div>
<div ng-show="! listProducts" class="help-block">This list is empty.</div>

<!--Search-->
<input ng-model="productSearchQuery" class="form-control input-lg" placeholder="Search...">

<!--Filtered products-->
<div class="product-list">
  <button class="product" ng-repeat="product in allProducts | limitTo:15 | filter:productSearchQuery | orderBy:'category_id' | orderBy:'name'" ng-click="addProductToList(product)">
    {{product.name}}
  </button>
</div>